.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.container {
	padding: 0 160px;
	@media screen and (max-width: 1919px) {
		padding: 0 60px;
	}
	@media screen and (max-width: 767px) {
		padding: 0 30px;
	}
	&_large {
		padding: 0 280px;
		@media screen and (max-width: 1919px) {
			padding: 0 180px;
		}
		@media screen and (max-width: 1439px) {
			padding: 0 60px;
		}
	}
}
.violet-holder {
	background: $supersoft;
	position: relative;
	border-radius: 0 0 12px 12px;
	margin: 0 0 60px;
	&::before {
		content: '';
		position: absolute;
		top: 100%;
		left: 20px;
		width: calc(100% - 40px);
		height: 10px;
		background: #CACADB;
		border-radius: 0 0 12px 12px;
	}
	&::after {
		content: '';
		position: absolute;
		top: calc(100% + 10px);
		left: 40px;
		width: calc(100% - 80px);
		height: 10px;
		background: #E7E7F2;
		border-radius: 0 0 12px 12px;
	}
}
.main-background {
	background: url(../img/h-bg.svg) no-repeat 50% 50%;
	background-size: auto 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 60px;
	padding-bottom: 30px;
	&__heading {
		font-size: 38px;
		line-height: 42px;
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0 30px;
		text-align: center;
	}
	&__anchor {
		font-size: 0;
		display: flex;
		align-self: center;
		width: 42px;
		height: 42px;
		border: 2px solid rgba(255, 255, 255, 0.5);
		border-radius: 50%;
		transition: 0.4s ease-in-out all;
		
	}
	&__anchor::after {
		content: '';
		position: absolute;
		width: 12px;
		height: 12px;
		border-right: 2px solid $color-primary;
		border-bottom: 2px solid $color-primary;
		left: calc(50% - 7px);
		bottom: 15px;
		transform: rotate(45deg);
		transition: 0.4s ease-in-out all;
	}
	&__anchor:hover {
		border: 2px solid rgba(240, 20, 90, 0.5);
	}
	&__anchor:hover::after {
		border-right: 2px solid $color-accent;
		border-bottom: 2px solid $color-accent;
	}
}
.logo {
	display: block;
	background-image: url(../img/logo.svg);
	width: 130px;
	height: 60px;
	@media screen and (max-width: 1023px) {
		margin-bottom: 30px;
	}
	@media screen and (max-width: 767px) {
		background: url(../img/logo-small.svg) no-repeat;
		width: 69px;
		height: 32px;
	}
		&__link {
			display: block;
			height: 100%;
		}
	&_dark {
		background-image: url(../img/logo-dark.svg);
		margin-right: 29px;
		@media screen and (max-width: 767px) {
			background: url(../img/logo-dark-small.svg);
			margin-right: 20px;
			z-index: 2;
		}
	}
}
.dots::before {
	content: '';
	width: 6px;
	height: 6px;
	background-color: $separator;
	position: absolute;
	right: -12px;
	top: calc(50% - 3px);
	border-radius: 50%;
	@media screen and (max-width: 767px) {
		display: none;
	}
}
.dots_grey::before {
	background-color: $text-grey;
	right: -16px;
}
.tabs-block {
	display: flex;
	padding: 0 0 60px;
	@media screen and (max-width: 1023px) {
		flex-direction: column;
	}
		&__tabset {
			list-style: none;
			text-align: right;
			width: 32%;
			margin: 0 124px 0 0;
			padding: 0;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-shrink: 0;
			gap: 30px;
			@media screen and (max-width: 1919px) {
				width: 39%;
			}
			@media screen and (max-width: 1439px) {
				width: 42%;
			}
			@media screen and (max-width: 1023px) {
				flex-direction: row;
				width: auto;
				overflow: auto;
				margin: 0 -60px 124px 0;
				justify-content: flex-start;
				overflow-y: hidden;
				white-space: nowrap;
			}
			@media screen and (max-width: 767px) {
				margin: 0 -30px 64px 0;
			}
				&::after {
					content: '';
					position: absolute;
					height: 100%;
					width: 4px;
					top: 0;
					right: -64px;
					background-color: $color-primary;
					opacity: 0.3;
					@media screen and (max-width: 1023px) {
						display: none;
					}
				}
		}
		&__btn {
			color: $text-grey;
			font-size: 38px;
			line-height: 42px;
			font-weight: 700;
			transition: 0.4s ease-in-out all;
			@media screen and (max-width: 767px) {
				font-size: 30px;
				line-height: 34px;
			}
			&.active {
				background: $text-red-reversed;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
			}
			&:hover {
				color: $color-accent;
			}
		}
		&__box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			@media screen and (max-width: 1023px) {
				flex-direction: row;
				justify-content: flex-start;
				position: relative;
			}
			&::before {
				@media screen and (max-width: 1023px) {
					content: '';
					position: absolute;
					height: 4px;
					width: 100%;
					top: -64px;
					right: 0;
					background-color: $color-primary;
					opacity: 0.3;
				}
				@media screen and (max-width: 767px) {
					top: -34px;
				}
			}
		}
		&__content {
			display: none;
			width: 90%;
			&.active {
				display: block;
			}
		}
		&__heading {
			margin: 0 0 30px;
			font-size: 30px;
			line-height: 34px;
			color: $color-primary;
			@media screen and (max-width: 767px) {
				font-size: 20px;
				line-height: 24px;
			}
		}
		&__text {
			margin: 0;
			font-size: 19px;
			line-height: 30px;
			color: $color-primary;
			opacity: 0.5;
		}
}
.services-link {
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	color: $text-regular;
	transition: 0.4s ease-in-out all;
	margin-bottom: 10px;
	&:hover {
		color: $color-accent;
	}
	&::after {
		content: '';
		width: 6px;
		height: 6px;
		position: absolute;
		top: 4px;
		right: -12px;
		border-right: 2px solid $text-regular;
		border-bottom: 2px solid $text-regular;
		transform: rotate(-45deg);
		transition: 0.4s ease-in-out all;
	}
	&:hover::after {
		border-right: 2px solid $color-accent;
		border-bottom: 2px solid $color-accent;
	}
}
.services-heading {
	font-size: 38px;
	line-height: 42px;
	background: $text-red;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	margin: 0 0 60px;
	@media screen and (max-width: 767px) {
		font-size: 30px;
		line-height: 34px;
	}
}
.services-block {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-between;
	gap: 60px;
	padding: 0 0 60px;
	@media screen and (max-width: 1023px) {
		grid-template-columns: 1fr 1fr;
	}
	@media screen and (max-width: 767px) {
		grid-template-columns: 1fr;
	}
		&__img-box {
			background-color: $color-primary;
			border-radius: 24px;
			padding: 14px;
			margin-bottom: 26px;
			width: 92px;
			height: 92px;
		}
		&__heading {
			font-size: 22px;
			line-height: 26px;
			color: $text-regular;
			margin: 0 0 15px;
		}
		&__text {
			font-size: 16px;
			line-height: 26px;
			color: $color-primary;
			margin: 0;
		}
}
.carousel {
	padding-bottom: 60px;
	@media screen and (max-width: 1919px) {
		padding: 0 60px 60px;
	}
	@media screen and (max-width: 767px) {
		padding: 0 30px 60px;
	}
	&__block {
		display: flex;
		background: $bg-grey;
		border-radius: 12px;
		overflow: hidden;
		@media screen and (max-width: 1023px) {
			flex-wrap: wrap;
		}
	}
	&__img {
		width: 400px;
		height: 298px;
		object-fit: cover;
		@media screen and (max-width: 1919px) {
			height: 344px;
		}
		@media screen and (max-width: 1439px) {
			height: 528px;
		}
		@media screen and (max-width: 1023px) {
			width: 100%;
		}
	}
	.slick-dots {
		margin: 0;
		padding: 30px 0 0;
		list-style: none;
		display: flex;
		justify-content: center;
		gap: 15px;
		width: 100%;
		button {
			font-size: 0;
			line-height: 0;
			padding: 0;
			background: $text-regular;
			border-radius: 50%;
			border: none;
			width: 16px;
			height: 16px;
			opacity: 0.2;
			cursor: pointer;
			transition: 0.4s ease-in-out all;
			&:hover {
				opacity: 0.6;
			}
			.slick-active & {
				opacity: 1;
			}
		}
	}
	.slick-active button {
		opacity: 1;
	}
	&__content-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 30px;
	}
	&__link {
		color: $text-regular;
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 1px;
		text-transform: uppercase;
		display: block;
		margin-bottom: 5px;
		&::after {
			content: '';
			width: 6px;
			height: 6px;
			border: solid $text-regular;
			border-width: 0 2px 2px 0;
			position: absolute;
			top: 5px;
			right: -10px;
			transform: rotate(-45deg);
		}
	}
	&__heading {
		background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		margin: 0 0 25px;
		font-size: 38px;
		line-height: 46px;
		@media screen and (max-width: 767px) {
			font-size: 30px;
			line-height: 36px;
		}
	}
	&__text {
		color: $text-grey;
		font-size: 16px;
		line-height: 20px;
		font-weight: 700;
		margin: 0 0 6px;
	}
	&__subtext {
		color: $text-grey;
		font-size: 14px;
		line-height: 18px;
	}
}
.partners-block {
	padding: 0 100px;
	margin-bottom: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	@media screen and (max-width: 1919px) {
		padding: 0;
		margin: 0;
	}
	&__heading {
		color: $main-regular;
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin: 0 0 30px;
	}
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		border-radius: 12px;
		overflow: hidden;
		@media screen and (max-width: 1919px) {
			border-radius: 0;
		}
	}
	&__item {
		width: 25%;
		@media screen and (max-width: 1023px) {
			width: calc(100% / 3);
		}
		@media screen and (max-width: 767px) {
			width: 50%;
		}
		@media screen and (max-width: 575px) {
			width: 100%;
		}
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 120px;
		background-color: #1C4280;
		&_dark {
			background-color: #143646;
		}
		&_orange-grad {
			background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
		}
		&_violet {
			background-color: #9E4DC3;
		}
		&_orange {
			background-color: #FD9339;
		}
		&_light-grey {
			background-color: #E2E2E4;
		}
		&_red {
			background-color: #C71C36;
		}
		&_light-blue {
			background-color: #DCF3F9;
		}
		&_grey {
			background-color: #EAEAEA;
		}
		&_dark-violet {
			background-color: #282240;
		}
		&_dark-green {
			background-color: #1D4568;
		}
		&_black {
			background-color: #000;
		}
	}
}
.grey-bg {
	background-color: $bg-grey;
}
.publications {
	padding-top: 30px;
	@media screen and (max-width: 1919px) {
		padding-top: 30px;
	}
	@media screen and (max-width: 767px) {
		padding-top: 30px;
	}
	&__link {
		color: $text-regular;
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-bottom: 10px;
		&::after {
			content: '';
			width: 6px;
			height: 6px;
			border: solid $text-regular;
			border-width: 0 2px 2px 0;
			position: absolute;
			top: 4px;
			right: -10px;
			transform: rotate(-45deg);
		}
	}
	&__heading {
		font-size: 38px;
		line-height: 42px;
		background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		margin: 0 0 30px;
		@media screen and (max-width: 767px) {
			font-size: 30px;
			line-height: 36px;
		}
	}
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 30px;
		@media screen and (max-width: 1023px) {
			grid-template-columns: 1fr 1fr;
		}
		@media screen and (max-width: 767px) {
			grid-template-columns: 1fr;
		}
	}
	&__item {
		background-color: $color-primary;
		border-radius: 8px;
		overflow: hidden;
		&:nth-child(3) {
			@media screen and (max-width: 1023px) {
			grid-column: 1/3;
			grid-row: 2/3;
			}
			@media screen and (max-width: 767px) {
			grid-area: unset;;
		}
		}
	}
	&__img {
		width: 100%;
		height: 200px;
		object-fit: cover;
	}
	&__content {
		padding: 30px;
	}
	&__subtitle {
		color: $text-regular;
		font-size: 16px;
		line-height: 20px;
		margin: 0 0 15px;
	}
	&__data {
		display: block;
		color: $text-grey;
		font-weight: 700;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 1px;
		text-transform: uppercase;
		position: relative;
		margin-bottom: 34px;
		&::after {
			content: '';
			width: 100%;
			height: 4px;
			background-color: $separator;
			position: absolute;
			top: 30px;
			left: 0;
		}
	}
	&__text {
		color: $main-dark-color;
		font-size: 14px;
		line-height: 22px;
		margin: 0;
	}
}